<div class="container">
  <%= simple_form_for(@task) do |task| %>
    <%= task.input :title %>
    <%= task.input :details %>
    <%= task.input :completed %>
    <%= task.submit %>
  <% end %>
</div>
