<h1><%= @task.title %></h1>
<p><%= @task.details %></p>
<p>Completed: <%= @task.completed %></p>

<%= link_to "Delete #{@task.title}",
            task_path(@task),
            method: :delete,
            data: { confirm: "Are you sure?" } %>

<%= link_to "Edit", edit_task_path(@task)%>